site:
  url: https://canonical-charm-refresh.readthedocs-hosted.com
  title: charm-refresh
  start_page: ROOT::index.adoc
  robots: allow
content:
  # Use GitHub "/blob/" URL instead of default "/edit/" URL to improve experience for logged-out
  # users
  # Add "?plain=1" to show AsciiDoc source (instead of rendered AsciiDoc)
  edit_url: '{web_url}/blob/{refname}/{path}?plain=1'
  sources:
    - url: .
      branches:
        - '+({0..9}).+({0..9}).+({0..9})'
      start_path: docs
    - url: .
      branches: null
      tags:
        # This tag points to the same commit as the "main" branch
        # (There is only a single "antora-main-" tag & it is updated during every release on the
        # main branch)
        # The tag name includes the REFRESH.MAJOR.MINOR version (e.g. "3.0.1" for release
        # "v3.0.1.2") so that we can extract it and use it as the component version (in the
        # component's antora.yml)
        # https://docs.antora.org/antora/latest/component-version-key/#refname-projection
        - antora-main-+({0..9}).+({0..9}).+({0..9})
      start_path: docs
      # Use "main" branch instead of tag name in edit URL
      edit_url: '{web_url}/blob/main/{path}?plain=1'
asciidoc:
  attributes:
    idprefix: ''
    idseparator: '-'
ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files: ./supplemental-ui
urls:
  html_extension_style: indexify
  latest_version_segment: latest
  latest_version_segment_strategy: redirect:to
output:
  clean: true
runtime:
  log:
    failure_level: warn
  fetch: true
antora:
  extensions:
    - require: '@antora/lunr-extension'
      # Consider removing once https://gitlab.com/antora/antora-lunr-extension/-/issues/70
      # is implemented
      index_latest_only: true
